body {
    background: rgb(67, 126, 182);
    font-family: 'Montserrat', sans-serif;
    margin: 0
}

#header {
    border: 5px white solid;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 25px
}
#instructions{
    margin-left: 10%;
    margin-bottom: 100px;
    color: white
}

#list {
    margin-left: 25%;
}

#inputField {
    width: 400px;
    height: 50px;
    font-size: x-large
}


form {
    display: flex
}
h2{
    text-decoration: underline
}
#inputBtn {
    border-radius: 10%;
    margin-left: 20px;
    color: whitesmoke;
    height: 50px;
    font-size: larger
}

#removeBtn {
    height: 40px;
}

#arrowUp{
    height: 40px;
}

.doneList li {
    text-decoration: line-through;
}

.itemStyle {
    display: flex
}